/* Responsive Design */

@media (max-width: 1200px) {
    .educate-points #desktop-screen > h2 {
      width: 100% !important;
      font-size: clamp(2rem, 4vw, 3.5rem) !important;
    }
    .educate-points #mbl-screen > h2 {
      width: 100% !important;
      font-size: clamp(2rem, 4vw, 3.5rem) !important;
    }
  }

  
  @media (min-width: 992px) {
    .footer .footer-paragraph {
      max-width: 500px !important;
    }
  }
  @media (max-width: 992px) {
    .moto-body {
      align-items: center !important;
      padding-inline-start: 0px !important;
    }
  
    .section-title {
      width: 36% !important;
    }
  }

  
  @media (min-width: 768px) {
    .items-accepted-A {
      display: flex !important;
    }
  }
  @media (max-width: 768px) {
    #hero-id {
      row-gap: 6rem !important;
    }
    .moto-body h2 span {
      font-size: 2.8rem, 4vw, 3rem !important;
    }
    body
      > footer
      > div.container.footer-container
      > div
      > div:nth-child(1)
      > div
      > a {
      justify-content: center !important;
      margin-top: 20px;
    }
    .step-description {
      text-align: center !important;
    }
    .section-header h2 {
      text-align: center !important;
      margin-block: 3rem 2rem !important;
    }
    .reward-content {
      justify-content: center !important;
      align-items: center !important;
    }
  }
  @media (max-width: 768px) and (min-width: 575px) {
    .nav-links{width: 17% !important;}

  }
  @media (max-width: 575px) {
    .hero-title {
      max-width: 450px !important;
    }
    .section-title {
      width: 47% !important;
    }
    .educate-points {
      padding-top: 145px !important;
    }
    
    .nav-links{width: 24% !important;}
  }
  @media (max-width: 575px) and (min-width: 475px) {
  }
  
  @media (max-width: 475px) {
    .hero-title {
      font-size: 2rem !important;
      max-width: 450px !important;
      line-height: 2.7rem !important;
      text-align: center !important;
    }
    .hero-subtitle {
      text-align: center !important;
    }
    .header-content {
      align-items: center !important;
    }
    .moto-body h2 {
      font-size: clamp(3.1rem, 5vw, 3.6rem);
    }
    .section-title h1 {
      font-size: 1.8rem !important;
    }
    .section-title {
      height: 40px;
    }
  
    .section-title {
      width: 60% !important;
      margin-bottom: 1rem !important;
    }
    .header-content {
      row-gap: 1.2rem !important;
    }
    .toggle-btn {
      width: 23px !important;
    }
  }
  @media (max-width: 475px) and (min-width: 320px) {
    .moto-body h2 {
      font-size: clamp(2.9rem, 3vw, 3.6rem);
    }
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70%;
      right: 0;
      margin-top: 2rem;
      width: 25%;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .toggle-btn {
      display: flex;
      position: relative;
      left: -3.3rem;
    }
  
    .navbar-brand img:nth-child(1) {
      width: 22% !important;
    }
    .navbar {
      padding-inline: 1.4rem !important;
    }
  
    .toggle-btn.active .bar:nth-child(1) {
      transform: rotate(-143deg) translateY(-11px) !important;
      left: revert-layer;
      position: relative !important;
      left: 4px !important;
      top: -3px;
    }
    .toggle-btn.active .bar:nth-child(3) {
      transform: rotate(-45deg) translateY(-14px) !important;
      left: revert-layer;
      position: relative !important;
      left: 6px !important;
      top: -4px;
      bottom: 10px;
    }
  
    .toggle-btn.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .toggle-btn.active .bar:nth-child(3) {
      transform: rotate(-45deg) translateY(-8px);
    }
  }
  
  /*  */
  