/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "p";
  padding-top: 120px;
}

html {
  font-size: 90%;
}

/* :root {
  --primary-color: #044146;
  --second-color: #09232b;
  --light-sky-blue: #d2effae6;
  --yellow: #fdda48;
  --accent: #4cce8d;
} */

/* .row {
  min-height: 120px !important;
} */

/* .container-fluid {
  position: relative;
} */
